.logo {
    width: relative;
    height: 5vh;
}

a {
    text-decoration: none;
    color: blue;
}

.active {
    text-decoration: underline;
    ;
}

#postsContainer img {
  width: 70%;
  height: 30vh;
  object-fit: cover;
}

#postsContainer {
  width: 60%;
  text-align: center;
  margin-left: 20%
}

/*Contact*/

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    justify-content: space-between;
    position: relative;
    padding: 50px 20px;
    grid-gap: 10px;
    height: 100%;
    font-size: large;
    width: 30%;
  }
  
  #contactForm input {
    width: 100%;
  }
  
  #contactForm textarea {
    height: 50px;
    width: 93%;
    margin-right: 0%;
  }
  
  .subject {
    margin-left: 6%;
  }
  
  /*Contact Active*/
  
  .form-error {
    display: none;
    color: red;
    font-size: x-small;
    margin-top: 2px;
  }
  

  
  #successMessage {
    display: none;
    color: green;
    font-size: small;
  }